<div class="home__container">
    <app-card
    gameCover="assets/HL.jpg"
    gameLabel="Digital"
    gameType="DIGITAL | PS5 | PS4"
    gamePrice="299,90"
    >
    </app-card>
    <app-card
    gameCover="assets/fc24.jpg"
    gameLabel="Exclusive"
    gameType="DISC | PS5 | PC"
    gamePrice="399,90"
    >
    </app-card>
    <app-card
    gameCover="assets/diablo4C.jpg"
    gameLabel="Exclusive"
    gameType="DISC | PS5 | PC"
    gamePrice="459,90"
    >
    </app-card>
    <app-card
    gameCover="assets/mw3.jpg"
    gameType="PS5 | PS4 | PC"
    gameLabel="NEW"
    gamePrice="279,90"
    >
    </app-card>
</div>
